

.header{
    background: transparent;
    position: absolute; /* чтобы не занимал место */
    top: 0;
    left: 0;

    width: 100%;

}
.blockIcon{
    display: flex;
    align-items: center;
    gap: 1px;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 64px;
    padding-bottom: 16px;
    padding-right: 64px;
    padding-top: 16px;
}

.navigation{
    display: flex;
    gap: 32px
}

.blockIcon{
    padding-right: 640px;
}

.headerText{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: #fff;
}

.headerTextStories{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: #000;   
}

.headerLinks{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.headerLinksStories{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: black;
}