.container{
    max-width: 1440px;
    margin: 0 auto;
}

.mainInfoProfile{
    margin-top: 48px;
}

.wrapperForAboutInfoUser{
    display: flex;
    flex-direction: column;
}



.userName{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: #000;
}
.wrapperForButtons{
    padding: 4px;
    border-radius: 10px;
    margin-top: 48px;
    background-color: #E8EEFF;
    width: 422px;
    display: flex;
    gap:61px;
    align-items: center;

}










.checkedButton{
    background-color: #F7F9FF;
    border-radius: 8px;
    width: 207px;
    height: 40px;

    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}


.noneCheckedButton{
    background-color: transparent;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #000;

}
.userAboutText{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color:#000;
}

.storiesList{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 40px;
}


.storiesBlock{
    border-radius: 16px;
}

.wrapperInfo{
    padding: 24px;
    background-color: #E8EEFF;

}

.country{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 8px;
}

.headingCard{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 8px;
}


.about{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 27px;
}

.wrapperUser{
    display: flex;
    gap: 16px;
    margin-bottom: 27px;

}

.name{
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #000;
}

.data{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}


.wrapperButtons{
    display: flex;
    gap: 10px;
    margin-bottom: 24px;

}

.seaMoreButton{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 315px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;


    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #000;

}


.saveButton{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.loadMoreButton{
    border: 1px solid #4169E1;
    border-radius: 8px;
    width: 135px;
    height: 48px;
    display: block;
    margin: 0 auto;
    cursor: pointer;

    font-family: var(--font-family);
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-color: #4169E1;
    margin-top: 40px;
}

.wrapperNoSavedStories{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #E8EEFF;
    border-radius:  24px;
    margin-top: 40px;
    width: 533px;
    height: 268px;
    max-width: 768px;

}

.wrapperNoUserStories{
    border-radius: 24px;
    padding: 40px 32px;
    width: 533px;
    max-width: 768px;
    background-color: #E8EEFF;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.textNoStories{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 32px;
}


.buttonUserSavedStories{
    border: 1px solid #4169E1;
    background-color: #4169E1;
    width: 111px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.buttonUserNoStories{
    border: 1px solid #4169E1;
    background-color: #4169E1;
    width: 206px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}