.wrapper{
    display: flex;
    gap: 16px
}

.loginButton{
  padding: 4px 10px;
  border-radius: 8px;
  width: 58px;
  height: 35px;      
  background: rgba(255, 255, 255, 0.2); 
  color: #fff;              
  font-size: 18px;
  font-weight: 500;
  backdrop-filter: blur(8px); 
  cursor: pointer;
  font-family: var(--font-family);

    
}

.loginButtonStories{
  padding: 4px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 58px;
  height: 35px;      
  background: rgba(0, 0, 0, 0.15); 
  color: #000;              
  font-size: 18px;
  font-weight: 500;
  backdrop-filter: blur(8px); 
  cursor: pointer;
  font-family: var(--font-family);
}



.registerButton{
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 4px 10px;
    width: 113px;
    height: 35px;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 1.5;
    font-size: 18px;
    color: #000;
    background-color: #fff;
}

.registerButtonStories{
    border: 1px solid #4169E1;
    border-radius: 8px;
    padding: 4px 10px;
    width: 113px;
    height: 35px;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 1.5;
    font-size: 18px;
    color: #fff;
    background-color: #4169E1;
}