.container{
    max-width: 1440px;
    margin: 0 auto;
}

.mainWrapper{
    margin-top: 48px;
    margin-bottom: 72px;
}

.header{
    margin-bottom: 24px;
}

.travelerList{
    display: flex;
    flex-wrap: wrap;
    gap:24px;

}

.travelerBlock{
    border-radius: 8px;
    background-color: #E8EEFF;
    padding: 24px;
    width: 310px;
    height: 384px;
    margin-bottom: 24px;
    

}

.avatar{
    margin-bottom: 24px;
    border-radius: 50%;
}

.name{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 16px;
}

.about{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 16px;
    max-width: 262px;

    display: -webkit-box;
    -webkit-line-clamp: 3;      
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profileButton{
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.15);
    width: 262px;
    height: 48px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #000;

}


.loadMoreButton{
    border: 1px solid #4169E1;
    border-radius: 8px;
    width: 135px;
    height: 48px;
    cursor: pointer;
    background-color: #4169E1;
    margin-bottom: 72px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    display: block;
    margin: 0 auto;

}