.image{
    margin-bottom: 24px;
}

.coverHeading{
    margin-bottom: 8px;
}

.mainHeader{
    margin-bottom: 48px;
}

.mainWrapper{
    margin-top: 48px;
    margin-left: 64px;
    margin-right: 64px;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 48px;
}

.secondWrapper{
    display: flex;
    gap: 24px;
    
}

.mainHeader{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: black;
}

.coverHeading{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: black;
}


.label{
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.15);
    width: 181px;
    height: 35px;
    cursor: pointer;
    padding: 4px 10px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: black;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}


.labelForm{
    margin-bottom: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 1.5;
    color: black;
}

.input{
    margin-bottom: 24px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 8px;
    width: 865px;
    height: 43px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color:black;
}

.input::placeholder{
    color: rgba(0, 0, 0, 0.60);
}

.select{
    margin-bottom: 24px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 8px;
    width: 865px;
    height: 43px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    
}


.textarea{
    margin-bottom: 72px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 12px;
    width: 865px;
    height: 180px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5; 
}

.textarea::placeholder{
    color: rgba(0, 0, 0, 0.60); 
}




.select::placeholder{
   color:  rgba(0, 0, 0, 0.60);
}

.wrapperForButtons{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.saveButton{
    cursor: pointer;
    border: 1px solid #4169E1;
    background-color: #4169E1;
    border-radius: 8px;
    width: 432px;
    height: 48px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}


.cancelButton{
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 432px;
    height: 48px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #000;

}