.container{
    max-width: 1440px;
    margin:  0 auto;
}
.mainWrapper{
    margin-top: 48px;
}

.mainHeader{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    color: #000;
    margin-bottom: 32px;
}

.infoWrapper{
    display: flex;
    margin-bottom: 16px;
}

.infoWrapper:nth-child(2){
    padding-right: 686px;
}

.info{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

.span{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

.region{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #000;
    line-height: 1.5;

    border:1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 4px 10px;
    background-color: rgba(0, 0, 0, 0.5);;
}


.mainImage{
    border-radius: 24px;
    margin-bottom: 48px;
}


.aboutWrapper{
    display: flex;
    gap: 24px;
}


.about{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

.saveWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}


.secondHeader{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 16px;
}


.saveAbout{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 16px;
}

.saveButton{
    border: 1px solid #4169E1;
    border-radius: 8px;
    width: 354px;
    height: 48px;
    background-color: #4169E1;
    cursor: pointer;


    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;

}

.popularStoriesHeader{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #000;
}


.storiesList{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 40px;
}


.storiesBlock{
    border-radius: 16px;
}

.wrapperInfo{
    padding: 24px;
    background-color: #E8EEFF;

}

.country{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 8px;
}

.headingCard{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 8px;
}


.about{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 27px;
}

.wrapperUser{
    display: flex;
    gap: 16px;
    margin-bottom: 27px;

}

.name{
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #000;
}

.data{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}


.wrapperButtons{
    display: flex;
    gap: 10px;
    margin-bottom: 24px;

}

.seaMoreButton{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 315px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;


    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #000;

}


.saveButtonCard{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 48px;
    height: 48px;
}