.container{
    max-width: 1440px;
    margin:  0 auto;
}
.mainWrapper{
    margin-top: 48px;
}

.mainHeader{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    color: #000;
    margin-bottom: 32px;
}

.infoWrapper{
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    /* justify-content: space-between; */
}



.info{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    margin-right: 8px;
}

.span{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;

}


.dateWrapper{
    margin-right: 530px;
    margin-left: 48px;
}





.region{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #000;
    line-height: 1.5;

    border:1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 4px 10px;
    background-color: rgba(0, 0, 0, 0.15);;
}


.mainImage{
    border-radius: 24px;
    margin-bottom: 48px;
    width: 1312px;
    height: 874px;
        object-fit: cover;
    display: block;
}


.aboutWrapper{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
}


.about{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    max-width: 865px;
}

.saveWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background-color: #F2F2F2;
    border-radius: 16px;

}


.secondHeader{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 16px;
}


.saveAbout{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 16px;
    max-width: 354px;
}

.saveButton{
    border: 1px solid #4169E1;
    border-radius: 8px;
    width: 354px;
    height: 48px;
    background-color: #4169E1;
    cursor: pointer;


    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;

}

.popularStoriesHeader{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #000;
}


.storiesList{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 40px;
}


.storiesBlock{
    border-radius: 16px;
}

.wrapperInfo{
    padding: 24px;
    background-color: #E8EEFF;

}

.country{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 8px;
}

.headingCard{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 8px;
}


.about{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 27px;
}

.wrapperUser{
    display: flex;
    gap: 16px;
    margin-bottom: 27px;

}

.name{
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #000;
}

.data{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}


.wrapperButtons{
    display: flex;
    gap: 10px;
    margin-bottom: 24px;

}

.seaMoreButton{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 315px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;


    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #000;

}


.saveButtonCard{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 48px;
    height: 48px;
}


.listPopularStories{
    display: flex;
    gap: 32px;
    margin-top: 40px;
    margin-bottom: 72px;
}

.storiesBlock{
    width: 416px;
    height: 675px;

}


.wrapperInfo{
    padding: 24px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}


.category{
    margin-bottom: 8px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}


.title{
    margin-bottom: 8px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
    color: #000;
}

.article{
    margin-bottom: 102px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000;

    display: -webkit-box;
    -webkit-line-clamp: 3;      
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.popularImage{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
    
}

.seaMoreButton{
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 1.5;
    color: #000;
}

.saveButtonCard{
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.wrapperButtons{
    display: flex;
    gap: 10px;
}


.cardImage{
    height: 277px;
    overflow: hidden;
    
}

.cardImageMain{
    height: 874px;
    overflow: hidden;
}

